body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc; /* Light blue background color */
}

.container {
    text-align: left;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* White background color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #2c3e50; /* Dark blue text color */
}

.info-form {
    display: grid;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    color: #3498db; /* Blue label color */
    margin-bottom: 5px;
}

input,
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db; /* Blue button color */
    color: #ffffff; /* White text color */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

/* Existing styles... */

#verificationResult {
    color: #e74c3c; /* Red text color */
    display: none;
}

.verification-image{
    width: 40vw;
}

